<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
   
    @Styles.Render("~/Content/css")

</head>
<body>
    <div class="navbar-fixed-top text-right">
        <div class="container">

                @Html.Partial("_LoginPartial")

        </div>
    </div>

    @RenderBody()


    <footer>
        &copy;Ruby Garage
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jshelpers")
</body>
</html>

